/MyFirstWebApplication/nbproject/private/
/MyFirstWebApplication/build/
MyFirstWebApplication/nbproject/project.properties
MyFirstWebApplication/nbproject/project.properties
/SpaceWebApp/nbproject/private/
/SpaceWebApp/build/
/TodoWebApp/nbproject/private/
/TodoWebApp/build/
/BankWebApp/nbproject/private/